<div class="Category" ng-repeat="category in categories">

				<h2> {{category.CategoryName}}</h2>

				<ul class="VideosShort" ng-repeat="video in category.videos">
					<li ng-click="navigateToVideo(video.id)">
						<div class="title">{{ video.Title }}</div>
						<div class="videoImage"><img src="{{ video.medium_thumbnail.URL }}" width="{{video.medium_thumbnail.Width}}" height="{{video.medium_thumbnail.Height}}"</div>
						<div class="videoDate">{{ video.published_at }}</div>
					</li>
				</ul>

</div>
